.header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 4, 9);
    flex-grow: 1;

}
.header-item {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fill;
    font-size: 30px;
    color: rgb(245, 222, 179);
    text-decoration: none;
    
}
.header-item:hover {
    background-color: rgb(47, 48, 49) ;    
    transition: background-color 0.4s ease, color 0.4s ease;
}
